#bustitle {
    color: palevioletred;
}

#home-link {
    font-style: normal;
    color: teal;
    text-decoration: none;
}

.card-link {
    text-decoration: none;
    color: teal;
}

.favteas {
    color: palevioletred;
    font-style: italic;
}

.container {
    font-family: "Courier New", Courier, monospace, sans-serif;
}

#reglink {
    color: teal;
}

.navbar {
    font-size: x-large;
}
